/* Webfont: DAL-ICON64x64 */@font-face {
    font-family: 'DAL-ICON_64x64';
    src: url('DAL-ICON64x64.eot'); /* IE9 Compat Modes */
    src: url('DAL-ICON64x64.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('DAL-ICON64x64.woff') format('woff'), /* Modern Browsers */
         url('DAL-ICON64x64.ttf') format('truetype'), /* Safari, Android, iOS */
         url('DAL-ICON64x64.svg#DAL-ICON64x64') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

