/* Webfont: MHE DAL 42 IconFont */@font-face {
    font-family: 'MHEDAL42IconFont';
    src: url('MHE DAL 42 IconFont.eot'); /* IE9 Compat Modes */
    src: url('MHE DAL 42 IconFont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('MHE DAL 42 IconFont.woff') format('woff'), /* Modern Browsers */
         url('MHE DAL 42 IconFont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('MHE DAL 42 IconFont.svg#MHE DAL 42 IconFont') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

